{% load static %}
<html>
    <head>
        <meta charset="utf=8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>Blog Website</title>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900&display=swap" rel="stylesheet">
        <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/blog/">
    </head>
<body>
    <!-- Header section code -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary container">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Kathan.Dev</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href-"#">Section</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    <!-- Header section code -->
      <br><br>
    <!-- Home page section -->
    <main class="container">
      <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
          <div class="col-lg-6 px-0">
              <h1 class="display-4 fst-italic">Kathan.Dev</h1>
              <p class="lead my-3">Build.Break.Learn.Repeat</p>
              <p class="lead my-3">The digital playground of Kathan, a backend developer who is enthusiastic about scalable systems, clean code, and lifelong learning, is kathan.dev. This blog, which documents discoveries, experiments, and lessons from practical development, is where curiosity meets code.</p>
              <p class="lead mb-0">
                  <a href="#" class="text-body-emphasis fw-bold">Continue reading...</a>
              </p>
          </div>
      </div>
      <div class="row mb-2">
        {% for post in allLeftPosts %}
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>
                    <h3 class="mb-0">{{post.title}}</h3>
                    <div class="mb-1 text-body-secondary">{{post.datetime}}</div>
                    <p class="card-text mb-auto">{{post.content}}</p>
                    <a href="blogpost" class="icon-link gap-1 icon-link-hover stretched-link">
                        Continue reading

                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img " height="250" preserveAspectRatio="xMidYMid slice" role="img" width="200" xmlns="http://www.w3.org/2000/svg">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                    </svg>
                </div>
            </div>
        </div>
        {% endfor %}
        {% for post in allRightPosts %}
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success-emphasis">Design</strong>
                    <h3 class="mb-0">{{post.title}}</h3>
                    <div class="mb-1 text-body-secondary">{{post.datetime}}</div>
                    <p class="mb-auto">{{post.content}}</p>
                    <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                        Continue reading

                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img " height="250" preserveAspectRatio="xMidYMid slice" role="img" width="200" xmlns="http://www.w3.org/2000/svg">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                    </svg>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
  </main>

  <!-- Home page section -->

  <!-- About section -->
  <div class="p-5 mb-4 bg-body-tertiary rounded-3 container">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Explore our wide range of topics..</h1>
        <p class="col-md-8 fs-4">Our articles are crafted to not only inform but also inspire action and fresh perspectives.Dive deep into expert opinions, how-to-guides, and trendspotting pieces - or simply enjoy a casual read over your coffee break. New content is added regularly, so you will always have something fresh to discover.</p>
        <button class="btn btn-primary btn-lg" type="button">Example button</button>
    </div>
  </div>

  <!-- About section -->

  <!-- Contact section -->
  <section class="s2">
    <div class="container">
      <h3 style="text-align:center;">Get In Touch</h3>

      <form id="contact-form" method="post" action="/">
        {% csrf_token %}
        <label>Name</label>
        <input class="input-field" type="text" name="name">

        <label>Subject</label>
        <input class="input-field" type="text" name="subject">

        <label>Email</label>
        <input class="input-field" type="email" name="email">

        <label>Message</label>
        <input class="input-field" type="message" name="message">

        <input class="primary-btn btn" id="submit-btn" type="submit" value="send">
      </form>
    </div>

  
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show container" role="alert">
      <strong>Message: </strong>{{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
  </section>

  <!-- Contact section -->



    <!-- Bootstraps JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js" integrity="sha384-7qAoOXltbVP82dhxHAUje59V5r2YsVfBafyUDxEdApLPmcdhBPg1DKg1ERo0BZlK" crossorigin="anonymous"></script>
    <!-- bootstraps JavaScript -->
</body>
</html>
